.myst1
{color:red; 
font-size:120px; 
margin-left:70px; 
margin-top:120px}

.myst2
{color:blue; 
font-size:120px; 
margin-left:120px; 
margin-top:-90px}

.myst3
{color:green;
font-size:120px;
margin-left:200px;
margin-top:-90px}
